<?xml version="1.0"?>
<!--
/**
 * License: GNU General Public License
 *
 * Copyright (c) 2012 Magento Hackathon. All rights reserved.
 * Note: Original work copyright to respective authors
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program. If not, see <http://www.gnu.org/licenses/>.
 *
 * @category   Hackathon
 * @package    Hackathon_DiscountForATweet
 * @subpackage Config
 * @copyright  Copyright (c) 2012 Magento Hackathon
 * @license    http://www.gnu.org/licenses/gpl.html GPL, version 3
 * @version    0.1.0
 * @link       http://magento-hackathon.de
 * @since      File available since Release 0.1.0
 * @author     Hackathon Core Team <core@hackathon>
 */

/**
 * Modules configuration file. 
 *
 * @category   Hackathon
 * @package    Hackathon_DiscountForATweet
 * @subpackage Config
 * @copyright  Copyright (c) 2012 Magento Hackathon
 * @license    http://www.gnu.org/licenses/gpl.html GPL, version 3
 * @version    Release: 0.1.0
 * @since      Class available since Release 0.1.0
 * @author     Hackathon Core Team <core@hackathon>
 */
 -->
<config>
    <modules>
        <Hackathon_DiscountForATweet>
            <version>0.1.0</version>
        </Hackathon_DiscountForATweet>
    </modules>
    <frontend>
        <translate>
            <modules>
                <discountforatweet>
                    <files>
                        <default>DiscountForATweet.csv</default>
                    </files>
                </discountforatweet>
            </modules>
        </translate>
        <routers>
            <discountforatweet>
                <use>standard</use>
                <args>
                    <module>Hackathon_DiscountForATweet</module>
                    <frontName>discountforatweet</frontName>
                </args>
            </discountforatweet>
        </routers>
        <layout>
            <updates>
                <discountforatweet>
                    <file>discountforatweet.xml</file>
                </discountforatweet>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<discountforatweet>
				<use>admin</use>
				<args>
					<module>Hackathon_DiscountForATweet</module>
					<frontName>admin_discountforatweet</frontName>
				</args>
			</discountforatweet>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <discountforatweet>
                    <files>
                        <default>DiscountForATweet.csv</default>
                    </files>
                </discountforatweet>
            </modules>
        </translate>
		<acl>
			<resources>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<discountforatweet translate="title" module="discountforatweet">
											<title>DiscountForATweet</title>
											<sort_order>50</sort_order>
										</discountforatweet>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<discountforatweet>
					<file>discountforatweet.xml</file>
				</discountforatweet>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <discountforatweet>
                <class>Hackathon_DiscountForATweet_Model</class>
                <resourceModel>discountforatweet_resource</resourceModel>
            </discountforatweet>
            <discountforatweet_resource>
                <class>Hackathon_DiscountForATweet_Model_Resource</class>
                <entities/>
            </discountforatweet_resource>
        </models>
        <resources>
            <discountforatweet_setup>
                <setup>
                    <module>Hackathon_DiscountForATweet</module>
                    <class>Hackathon_DiscountForATweet_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </discountforatweet_setup>
            <discountforatweet_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </discountforatweet_write>
            <discountforatweet_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </discountforatweet_read>
        </resources>
        <blocks>
            <discountforatweet>
                <class>Hackathon_DiscountForATweet_Block</class>
            </discountforatweet>
        </blocks>
        <helpers>
            <discountforatweet>
                <class>Hackathon_DiscountForATweet_Helper</class>
            </discountforatweet>
        </helpers>
        <events>
        	<salesrule_rule_condition_combine>
        		<observers>
                    <add_condition_to_sales_rule>
                        <class>discountforatweet/observer</class>
                        <method>addConditionToSalesRule</method>
                    </add_condition_to_sales_rule>
                </observers>
        	</salesrule_rule_condition_combine>
        </events>
    </global>
</config>